body{
	font-family: Arial, Helvetica, sans-serif;
	background-image:url(../img/fondito.png);
	margin-top:0px;
}
#mainWrapper {
	width: 986px;
	margin-left: auto;
	margin-right: auto;
	border:solid #CF0 0px;
}

#headWrapper {
	/*background-image: url(../img/baner.png);*/
	background-color:#FFF;
	min-height: 102px;
	border:solid #CF0 0px;
	text-align:center;
}
#contentWrapper {
	background-color: #FCFCFC;
	margin:0px 0px;
	min-height:500px;
	padding-top:0px;
	border:solid #CF0 0px;
}
#headLine{
    /*background-color:#e11583;*/
    background-color:#13c1d8;
    width:100%;
    margin:auto;
    height:2px;
    /*margin-bottom:10px !important;*/
    border:solid #CF0 0px;
 }
 #footWrapper {
	background-color: #fff;
	font-size: 10px;
	text-align: center;
	color:#70706f;
	padding-top:4px;
	padding-bottom:10px;
	border:solid #CF0 0px;
}

#footWrapper a{
	color: #70706f;
	text-decoration:none;
}

#btnPreReg {
	background-color:  #d5dbdb;
	border: none;
	font-weight:bold;	
	
}

.customLabel{	
	height: 56.9833px;	
  }

/* div {
	border: 2px solid black;
	border-radius: 8px;
  } */
