.txtTD{
	font-size:12px;
	font-weight:bold;
	padding-left:15px;
}

#btnEnviar{
	width: 100px; 
    height: 23px;
	margin-top:10px;
	margin-bottom:10px;
}

#btnSalir{
	font-size:16px;
	width: 100px; 
    height: 30px;
	background-image: url(../img/btn/logout.png);
	background-position:8px 7px;
	background-repeat:no-repeat;
	margin-top:25px;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:15px;
}
