/* CSS Document */
body{
	font-family: Arial, Helvetica, sans-serif;
	background-image:url(../img/fondito.png);
	margin-top:0px;
}

#mainWrapper {
	width: 986px;
	margin-left: auto;
	margin-right: auto;
	border:solid #CF0 0px;
}

#headWrapper {
	/*background-image: url(../img/baner.png);*/
	background-color:#FFF;
	min-height: 102px;
	border:solid #CF0 0px;
	text-align:center;
}

/************* Titulos *********************************/

#titulo{
	position:absolute;
	color:#fff;
	font-size:20px;
	width:340px;
	margin-top:20px;
	margin-left:530px;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.4);
	border:solid #CF0 0px;
	text-align:right
}

#subtitulo{
	position:absolute;
	color:#faa719;
	font-size:20px;
	width:550px;
	margin-top:75px;
	margin-left:325px;
	/*text-shadow: 0px 0px 6px rgba(255,255,255,0.4);*/
	font-weight: bold;
	border:solid #CF0 0px;
	text-align:right
}

#titulo2{
	color:#d1ac3c;
	font-size:22px;
	float:left;
	margin-top:20px;
	margin-left:120px;
	border:solid #CF0 0px;
	width:250px;
	text-shadow: 0px 0px 6px rgba(209,172,60,0.4);
}

#subtitulo2{
	position:absolute;
	color:#FFF;
	font-size:22px;
	width:250px;
	margin-top:45px;
	margin-left:120px;
	border:solid #CF0 0px;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.4);

}

/************************************************************/

#headLine{
   /*background-color:#e11583;*/
   background-color:#13c1d8;
   width:100%;
   margin:auto;
   height:2px;
   /*margin-bottom:10px !important;*/
   border:solid #CF0 0px;
}

/*************** Footer ********************/

#footWrapper {
	background-color: #fff;
	font-size: 10px;
	text-align: center;
	color:#70706f;
	padding-top:4px;
	padding-bottom:10px;
	border:solid #CF0 0px;
}

#footWrapper a{
	color: #70706f;
	text-decoration:none;
}

/*****************************************/

#contentWrapper {
	background-color: #FCFCFC;
	margin:0px 0px;
	min-height:500px;
	padding-top:0px;
	border:solid #CF0 0px;
}

/********* Banda ***********************/

#main{
	background-color:#458ccc;
	height:45px;
	color:#fff;
	border:solid #0F9 0px;
}

#title_usuario{
border:solid #0F9 0px;
font-size:13px;
width:500px;
float:left;
padding-left:10px;
margin-top:7px;
}

#btncerrarsesion{
	font-size: 11px;
	top:12px;
	right:5px;
}

/****************************************/

form label.error, label.error {color: red; font-size: 0.75em;}

div.error { 
	width:80%;
	background:#ee0101;
	color:#fff;
	font-family:tahoma;
	font-size:11px;
	border:2px solid #ddd;
	box-shadow: 0px 0px 6px #000;
	-moz-box-shadow: 0px 0px 6px #000;
	-webkit-box-shadow: 0px 0px 6px #000;
	padding:2px 5px 2px 5px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	z-index:100; 
}

#errorContainer {
	display: none;
	overflow: auto;
	background-color: #FFDDDD;
	border: 1px solid #FF2323;
	padding-top: 0;
	font-size:12px;
	margin-top:25px;
}
