.ux-menu-container {
    position: relative;
}

.ux-menu,
.ux-menu ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.ux-menu li {
    position: relative;
    float: left;

}

.ux-menu ul {
    position: absolute;
    top: 0;
    left: 0;
}

.ext-border-box .ux-menu-ie-iframe,
.ext-ie7 .ux-menu-ie-iframe {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    zoom: 1;
    z-index: -1;
    filter:mask();
}

.ux-menu-vertical .ux-menu-item-main {
    clear: left;
}

/*.ux-menu a {
    display: block;
    position: relative;
    text-decoration: none;
	color:#fff;
	font-weight:bold;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;    
    background: url(../img/menu/menu-item-bg4.png) repeat;
    font-size: 13px;
    line-height: 12px;
    padding: 9px 14px;
	border-radius: 5px;
}
*/
.ux-menu .inactive {
    display: block;
    position: relative;
    text-decoration: none;
	color:#fff;
	font-weight:bold;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;    
    background: url(../img/menu/menu-item-bg4.png) repeat;
    font-size: 13px;
    line-height: 12px;
	/*padding-top:10px;
	padding-bottom:10px;*/
   	padding: 9px 14px;
	border-radius: 5px;
}

.ux-menu .active {
    display: block;
    position: relative;
    text-decoration: none;
	color:#fff;
	font-weight:bold;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;    
    background: url(../img/menu/menu-item-bg-A.png) repeat;
    font-size: 13px;
    line-height: 12px;
    padding: 9px 14px;
	border-radius: 5px;
}

.ux-menu a.ux-menu-link-last {
    border-right: 1px solid #e3dad1;
}

ux.menu ul a {
    width: 100%;
}

.ux-menu a:focus,
.ux-menu a:hover,
.ux-menu a.ux-menu-link-hover {
    border-color: #fff;
    background: url(../img/menu/menu-item-bg-over2.png) repeat;
    outline: 0;
}

.ext-ie .ux-menu-clearfix {
    zoom: 1;
}

.ux-menu-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.ux-menu a.ux-menu-link-parent {
    padding-right: 24px;
    min-width: 1px;
}

.ux-menu ul a,
.ux-menu.ux-menu-vertical a {
    border-bottom: 0px;    
    border-right: 1px solid #e3dad1;
}

.ux-menu ul a.ux-menu-link-last,
.ux-menu.ux-menu-vertical a.ux-menu-link-last {
    border-bottom: 1px solid #e3dad1;
}

.ux-menu-arrow {
    display: block;
    width: 16px;
    height: 16px;
    right: 0px;
    top: 18px;
    position: absolute;
    background: url(../img/menu/menu-arrow-down2.png) no-repeat;
    font-size: 0;
}

.ux-menu.ux-menu-vertical .ux-menu-arrow,
.ux-menu ul .ux-menu-arrow  {
    width: 6px;
    height: 8px;
    top: 13px; 
    background: url(../img/menu/menu-arrow-right.png) no-repeat;
}

.ext-border-box .ux-menu-arrow {
    top: 17px;
}
.ext-border-box .ux-menu.ux-menu-vertical .ux-menu-arrow,
.ext-border-box .ux-menu ul .ux-menu-arrow {
    top: 16px;
}

.ux-menu ul.ux-menu-hidden {
    display: none;
}