.txtTD{
	font-weight:bold;
}

.txtAlert{
	font-size:12px;
}

#divProce {
	width: 570px;
	text-align:left;
	padding-top:25px;
	padding-bottom:25px;
	margin-left:25px;
	font-size:12px;
	font-weight:bold;
	border: 0px solid #000;
}

#divFolio {
	font-size:12px;
	width: 350px;
	text-align:left;
	margin-left:5px;
	border: 0px solid #000;
}

/**************************************/

fieldset legend{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #1a4e7a;
	color: #FFF;
	width: 100%;
	line-height: 30px;
	text-align:center;
}

fieldset{
	border: 0px none;
}

.td_label{
	font-size:12px;
	font-weight:bold;
	text-align:right;
	padding-right:5px;
	color:#666;

}
.td_label2{
	font-size:12px;
	font-weight:bold;
	text-align:left;
	padding-left:5px;
}

.minitext{
	font-size:10px;
	padding-left:7px;
	font-weight:bold;
}

/************************************/

#btnEnviar{
	font-size:14px;
	width: 100px; 
	margin-top:10px;
	margin-bottom:10px;
}

#btnEnviar2{
	font-size:14px;
	width: 100px; 
	margin-top:10px;
	margin-bottom:10px;
}

#btnEnviar3{
	font-size:14px;
	width: 100px; 
	margin-top:10px;
	margin-bottom:10px;
}


#btnSalir{
	font-size:14px;
	width: 100px; 
	background-image: url(../img/btn/logout.png);
	background-position:8px 7px;
	background-repeat:no-repeat;
	margin: 10px 15px 10px 780px;
}

#btnImprime{
	font-size:14px;
}

#btnCerrar{
	font-size:14px;
	width: 110px;
	background-image: url(../img/btn/logout.png);
	background-position:8px 7px;
	background-repeat:no-repeat;
	margin-left:550px;
}