.td_label{
	font-size:12px;
	font-weight:bold;
	text-align:right;
	padding-right:5px;
}

.td_label2{
	font-size:12px;
	font-weight:bold;
	text-align:left;
	padding-left:5px;
}

.minitext{
	font-size:10px;
	padding-left:7px;
	font-weight:bold;
}

.txtAlert{
	font-size:12px;
}

#btnEnviar{
	font-size:14px;
	width: 100px; 
	margin: 10px 0 10px 0;
}

#btnSalir{
	font-size:14px;
	width: 100px; 
	background-image: url(../img/btn/logout.png);
	background-position:8px 7px;
	background-repeat:no-repeat;
	margin: 10px 15px 10px 780px;
	/*margin-top:10px;	margin-right:15px; margin-bottom:10px;	margin-left:780px;*/
}

#btnImprime{
	font-size:14px;
}

#btnCerrar{
	font-size:14px;
	width: 110px;
	background-image: url(../img/btn/logout.png);
	background-position:8px 7px;
	background-repeat:no-repeat;
	margin-left:510px;
}



